

* {
  margin: 0;
  padding: 0;
  text-decoration: none;

}
html{
  background-color: #111;
}

.App {
  text-align: center;
  color: white;
}

/*
.container{
  display: flex;
  flex-direction: row;
  
  justify-content: center;
  position: relative;
}

.inner_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

main{
  width: 800px;
  padding: 20px;
  min-width: 400px;
  
  background-color: lightsalmon;
  padding: 1em;
  
  transition: all 0.3s;
}

.sidebar{
  
  background: #000;
  color: #fff;
  height: 100%;
  width: 200px;
  transition: all 0.4s;

 
  position: fixed;
  left: 0;
  z-index: 99;
}

.top_section{
  display: flex;
  align-items: center;
  padding: 20px 10px;
}

.logo{
  font-size: 22px;
  transition: all 0.4s;
}

.bars{
  display: flex;
  font-size: 30px;
  margin-left: 50px;
  transition: all 0.4s;
}

.link{
  display: flex;
  color: #fff;
  padding:  10px 15px;
  gap:15px;
  transition:  all 0.5s; 
}
.link:hover{
  background: lightskyblue;
  color:#000;
  transition:  all 0.5s;
}

.active{
  background: lightskyblue;
  color: #000;
}

.icon, .link_text{
  font-size: 20px;
  
}

.userbox{
  position: sticky;
  height: 100px;
  width: 300px;
  top: 25px;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 3px;


  border-radius: 1rem;
  background-image: 
  linear-gradient(#222,#343434),
  linear-gradient(153deg, rgba(7,0,128,1) 0%, rgba(9,121,60,1) 57%, rgba(209,186,79,1) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.userbox_wraper{
  padding: 5px 5px;
  display: flex;
  flex-direction: row;

}

.userbox_top{
  display: flex;
  flex-direction: row;
}

.avatar{
  height: 50px;
  border-radius: 50%;
  
}

.ub_credits{
  display: flex;
  flex-direction: column;
}

.ub_username{

  color: white;
  margin-left: 10px;
  font-size: 1.5rem;
  
}
.ub_mail{
  color: gray;
  margin-left: 10px;
  font-size: 0.75rem;
  
}
*/